:root {
  --main-color: #036a38;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: #f1faf5;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
}
main {
  padding: 20px;
}
h1,
h2 {
  text-align: center;
}

h1 {
  font-family: "Comforter Brush", cursive;
  color: var(--main-color);
}
h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 30px;
  text-transform: uppercase;
  margin: 15px 0 30px;
}

ul {
  text-align: center;
  display: flex;
  justify-content: center;
}
ul li {
  list-style: none;
  margin: 0 5px;
}
ul li a {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px -1px #ccc;
}
ul li a.active,
ul li a:hover {
  background: var(--main-color);
  color: white;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
.menu .item {
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px -5px #ccc;
  padding: 20px;
  margin: 10px;
  position: relative;
}
.menu .item .foto {
  height: 370px;
}
.menu .item .foto img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}
.menu .item .keterangan {
  color: #ccc;
  display: flex;
}
.menu .item .nama {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}
.menu .harga .merah {
  color: red;
}
.menu .harga .coret {
  text-decoration: line-through;
  color: #666;
}
.menu .item .keterangan .bintang {
  margin-left: 10px;
}
.menu .item .keterangan .bintang span {
  font-size: 14px;
}
.menu .item .keterangan .bintang span.active {
  color: salmon;
}
.menu .item nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 25px;
  width: 100%;
  display: none;
  justify-content: center;
}
.menu .item nav span {
  color: #000;
}
.menu .item nav a {
  background: #efefef;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.menu .item nav a.active {
  background: var(--main-color);
}
.menu .item nav a.active span {
  color: #fff;
}
.menu .badge {
  position: absolute;
  background: #f42f67;
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 2;
  top: 10px;
  right: 10px;
  color: #fff;
}
.menu .item:hover nav {
  display: flex;
}

.button-see {
  text-align: center;
  margin-top: 30px;
}
.button-see a {
  background: var(--main-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.button-see a:hover {
  background: tomato;
}
